/* Hide Certain Elements */
#customblock-Editorial-Committee{display:none}
#customblock-Advisory-Committee{display:none}
.published{display:none}
.col-md-2 {display:none}

/* Update Main Menu */
/* Enlarge Logo and Move Main NavBar */
.navbar-brand {
    padding:0px 15px;
    height:80px;
    margin-top:-10px
}
.navbar-nav, .navbar-form {
    margin-top:10px;
}

/*Move PDF Link to right side on Table of Contents*/
.media-heading,.meta, .pages {
    width:85%;
    float:left;
}
.btn-group {
    width:15%;
    float:right;
}
.btn-group > .btn, .btn-group-vertical > .btn {
    float:right;
}

/*Update List Style*/
ul {
    list-style-type: none;
}
.pkp_block ul li{
    padding: 0px 15px 0px 5px;
    border:none;
}
/*Update Custom Block Titles*/
.block_custom .title{
    margin: -15px -15px 15px -15px;
}

/*Fix Image Width*/
img {max-width: 100%}

/*Remove Whitespace*/
.page-header{
    padding-bottom: 0px;
    margin: 10px 0 10px;
}
.lead {
    margin-bottom: 0px;
}

/*Update Colors*/
a, .navbar-default .nav > li > a{
    color: #0C3F9B;
}
.btn-primary {
    background-color: #0C3F9B;
    border-color: #0C3F9B;
}

/*Reduce Heading Sizes*/
h1,.h1 {
 font-size: 34px;
}
h2,.h2 {
 font-size: 28px
}
h3,.h3 {
 font-size: 20px
}
h4,.h4 {
 font-size: 16px
}
h5,.h5 {
 font-size: 14px
}
h6,.h6 {
 font-size: 12px
}
/*Specific Formatting Changes on the Sidebar*/
/*Reduce bottom margin on Forum Image*/
#customblock-Sidebar-3 > div:nth-child(1) > p:nth-child(1){margin:0px;}
/*Indent Heading in Editorial Committee Block*/
#customblock-Sidebar > div:nth-child(1) > h4:nth-child(3){padding-left:5px;}
